* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; /* Center the multi-btn horizontally */
}

.multi-btn{
  width: 70%;
  display: flex;
  justify-content: center; /* Ensure buttons have space between them */
  align-items: center;
  padding: 10px 10px; /* Add vertical and Horizontal padding for spacing */
  background-color: #ffffff;
  border-radius: 15px;
  margin-bottom: 10px;
}

.multi-btn button {
  flex: 1; /* Each button gets equal width */
  margin: 0 5px; /* Add spacing between buttons */
  padding: 10px 0; /* Adjust button height */
  border: 1px solid #ddd;
  /* background-color: #f0f0f0; */
  color: #000;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  outline: none;
}

.multi-btn button:hover {
  background-color: #e0e0e0; /* Add hover effect */
  box-shadow: 0 0 0 2px #0066ff;
}
